#title {
  margin: 3vh;
}

#about {
  display: flex;
}

#information {
  display: flex;
  flex-direction: column;
}

.mapouter {
  display: block;
  left: 0;
}

.gmap_canvas {
  border: 3px solid black;
}