body {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/stock-donuts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vh 50vh;;
}

#welcome {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

#welcome h1 {
  flex: 1 0 auto;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    top: 0;
  }

  #welcome {
    margin: 10px;
  }
}