body {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/stock-donuts.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vh 50vh;;
}

#welcome {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 3vh;
} 

#welcome h1 {
  text-align: center;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }

  #welcome {
    margin: 10px;
  }
}