@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

:root {
  --color1: white;
  --color2: green;
  --color3: lightseagreen;
}

* {
 box-sizing: border-box; 
 margin: 0;
 padding: 0;
}

body {
  font-weight: normal;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  padding: 4vh;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 3vh;
  text-align: center;
}

p {
  font-size: 2vh;
  padding: 2vh;
}

.centered {
  text-align: center;
}

.green-font {
  color: var(--color3);
}

.green-underline {
  text-decoration: underline;
  text-decoration-color: var(--color3);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opaque {
  opacity: .5;
}

